@import "open-props/postcss/style";

@font-face {
  font-family: "Zen Maru Gothic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Zen_Maru_subset.woff2") format("woff2"),
    url("/fonts/Zen_Maru_subset.woff") format("woff");
}

@font-face {
  font-family: "Zen Maru Gothic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Zen_Maru_subset_bold.woff2") format("woff2"),
    url("/fonts/Zen_Maru_subset_bold.woff") format("woff");
}

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}
/* Sticky footer のテクニック */
/* html, body { min-height: 100vh } */
/* footer { position: sticky; top: 100vh } */
html,
body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}

h1,
h2 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
a {
  font-size: 18px;
}
