:root {
  .form {
    background-color: #1d1e22;
    padding: 1rem;
    color: white;
  }

  .button {
    --primary-color: 111, 76, 255;
    --text-color: 256, 256, 256;
    font-size: 18px;
    padding: 12px 32px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
  }

  .button-primary {
    background-color: rgb(var(--primary-color));
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--text-color));
  }

  .button-semitransparent {
    background-color: rgba(var(--primary-color), 0.15);
    border: 1px solid rgba(var(--primary-color), 0.25);
    color: rgba(var(--text-color), 0.8);
    &:hover {
      background-color: rgba(var(--primary-color), 0.35);
      border: 1px solid rgba(var(--primary-color), 0.5);
      color: rgba(var(--text-color), 0.9);
    }
  }

  .button-glow {
    &:hover {
      box-shadow: rgba(var(--primary-color), 0.5) 0 0 20px 0;
    }
  }

  .button-gradient-border {
    color: rgba(var(--text-color));
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
      radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box; // bg-image を2つ指定いるため、こちを2つ指定している
  }
  .button-1 {
    @extend .button;
    @extend .button-glow;
    @extend .button-primary;
  }
}
