---
import Layout from "@layouts/Layout.astro";
---

<Layout title="ページが見つかりませんでした">
  <div class="inner">
    <h1>404</h1>
    <p>ページが見つかりませんでした</p>
  </div>
</Layout>

<style lang="scss">
  .inner {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    text-align: center;
  }
</style>
