---
import Layout from "@layouts/Layout.astro";
import HelloWorld from "@components/HelloWorld";

import "@styles/global.scss";
---

<Layout title="About Astro">
  <main>
    <h1>About Astro<i>▶</i></h1>
    <astro-typed-hello></astro-typed-hello>
    <!-- <button id="typing">タイプする</button> -->
    <HelloWorld name="React Component" client:load />
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 80%
    );
    background-clip: text;
    > i {
      color: aqua;
    }
  }
</style>

<script>
  // 外部ライブラリも読み込み可能
  import Typed from "typed.js";

  // document.getElementById("typing").addEventListener("click", (evt) => {
  //   new Typed(".typed", {
  //     strings: ["Hi, ", "わたしは", "アストロだよ"],
  //     typeSpeed: 40,
  //     showCursor: false,
  //     onComplete: () => {
  //       console.log("typed DONE");
  //     },
  //   });
  //   evt.preventDefault();
  // });

  // Web コンポーネントを登録して使うパターン
  class AstroTypedHello extends HTMLElement {
    constructor() {
      super();

      new Typed(this, {
        strings: ["Hi, ", "わたしは", "アストロだよ"],
        typeSpeed: 40,
        onComplete: () => {
          console.log("typed DONE");
        },
      });
    }
  }
  customElements.define("astro-typed-hello", AstroTypedHello);
</script>
