---
import Nav from "@components/Nav.astro";
---

<footer>
  <div class="inner">
    <Nav />
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: 32px;
    border-top: 1px solid #000;
  }
  .inner {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
