---
const items: { name: string; path: string }[] = [
  {
    name: "HOME",
    path: "/",
  },
  {
    name: "ABOUT",
    path: "/about",
  },
  {
    name: "CONTACT",
    path: "/contact",
  },
  {
    name: "PRIVACY",
    path: "/privacy",
  },
  {
    name: "GRID",
    path: "/grid",
  },
  {
    name: "OPEN PROPS",
    path: "/open_props",
  },
  {
    name: "IMAGE",
    path: "/image",
  },
];
---

<nav>
  <ul>
    <!-- map 使うのに key は不要っぽい？ -->
    {
      items.map((item) => (
        <li>
          <a href={item.path}>{item.name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  ul {
    margin: 0;
    display: flex;
    list-style: none;
    gap: 20px;
  }
</style>
