---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import AdobeFonts from "@components/AdobeFonts.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;

// font-matter ブロックで変数を定義して、それを CSS変数として使うことができる
const fontFamily = "system-ui, sans-serif";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <AdobeFonts /> -->
    <link
      rel="preload"
      as="font"
      href="/fonts/Zen_Maru_subset.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="/fonts/Zen_Maru_subset_bold.woff2"
      crossorigin
    />
  </head>
  <body>
    <Header logoSize={40} />
    {/* 名前付き slot もサポートしているぞ */}
    <div class="contents">
      <slot />
    </div>

    <div class="inner">
      <!-- slot の子要素は代替コンテンツになる -->
      <slot name="additional">Additional なコンテンツ</slot>
    </div>
    <Footer />
    <style define:vars={{ fontFamily }}>
      :global(html) {
        font-family: var(--fontFamily);
        background-color: #f6f6f6;
      }
      .inner {
        display: flex;
        margin: auto;
        padding: 1.5rem;
        max-width: 1080px;
      }
      /* :global でローカルスコープの中にグローバルスコープを混在させることが可能 */
      .contents :global(h1) {
        text-decoration: none;
      }
    </style>
  </body>
</html>
